#comingU {
    color: blue;
    margin-right: 0px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}
.sample2{
    font-family: Arial, Helvetica, sans-serif;
}
.list2{
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}
a{
    color: blue;
}
.table3 {
    border: 2px solid blue;
    text-align: left;
    padding: 8px;
    font-size: 20px;
    color: blue;
}
.list3{
    line-height: 20px;
}