.container{
    width: 100%;
    text-align: center;
}

.welcome{
    font-size: 80px;
    font-family: 'Pattaya', sans-serif;
    width: 500px;
    margin: 50px auto;
    color: royalblue;
    border-width: 6px;
    border-style: double;
}
.C2{
    float: left;
    width: 700px;
    margin-left: 10px;
    margin-top: 50px;
    font-family: cursive;
    border: 8px solid red;
    padding: 10px 10px;
    text-align: left;
    
    /* line-height: 30px; */
}
#quote{
    margin-left: 46px;
}
#Friend1{
    margin-top: 0px;
}
.sample{
    
    color: red
  
}
@media screen (max-width: 425px) {
    #navbar1{
        width: 80%;
    }
  }